<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="img/png" href="{% static 'skills/1680525.png' %}">
</head>
<body>
<div class="menu">
    <div class="wrap">
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src=" {% static 'skills/1680525.png' %}" alt="">
            </a>
        </div>
        <ul>
            {% if user.is_authenticated %}
                <li class="login">Пользователь: {{ user.username }}</li>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'blogs' %}">Рецензии</a></li>
                <li><a href="{% static 'skills/resume.pdf' %}" target="_blank">Резюме</a></li>
                <li>
                    <form action="{% url 'log_out_user' %}" method="post">
                        {% csrf_token %}
                         <button class="button_top">Выйти</button>
                    </form>
                   </li>
            {% else %}
                <li><a href="{% url 'sign_up_user' %}">Зарегистрироваться</a></li>
                <li><a href="{% url 'log_in_user' %}">Войти</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="content">
  <div class="wrap">
    {% block content %}

    {% endblock %}
  </div>
</div>

</body>
</html>